<!--valor da url entra no src e usar description no alt (app.component)
Para usar data binding de um atributo vc envolve com conchetes
-->
<!--usando o selector do component-->
<af-photo url="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Sultan_the_Barbary_Lion.jpg/440px-Sultan_the_Barbary_Lion.jpg" description="Leão"></af-photo>
<af-photo url="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Lioness_Etosha_NP.jpg/500px-Lioness_Etosha_NP.jpg" description="Leoa"></af-photo>

